.hover-button {
   border: 1px solid #444;
   transition: background-color 0.3s ease;
   color: #333; 
   background-color: #e0f7fa; /* Soft teal for a calm, professional tone */
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
}

button {
   color: #fff;
   font-family: 'Arial', sans-serif;
   font-weight: bold;
   background-color: #007bff; /* Professional blue */
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 4px;
   border: none;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #0056b3; /* Darker blue on hover */
}

h1 {
   color: #333; 
   font-family: 'Arial', sans-serif;
   font-weight: bold;
   font-size: 1.8em;
   margin-bottom: 10px;
}

h2 {
   color: #555;
   font-style: normal;
   font-family: 'Arial', sans-serif;
   font-weight: 600;
}

h3 {
   color: #333;
   background-color: #f9f9f9;
   padding: 5px;
   margin-top: 10px;
}

p {
   color: #444;  
   background-color: #f4f4f4;
   padding: 8px 12px;
   font-weight: 400;
   font-family: 'Georgia', serif;
   line-height: 1.6;
}

body {
   background-color: #f5f5f5; /* Light grey for a subtle professional background */
   color: #333;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}
